@font-face {
	font-family: 'SFProRegular', sans-serif;
	src: url("@/assets/fonts/SF-Pro-Regular.woff") format("woff"), url("@/assets/fonts/SF-Pro-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SFProMedium', sans-serif;
	src: url("@/assets/fonts/SF-Pro-Medium.woff") format("woff"), url("@/assets/fonts/SF-Pro-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'SFProSemiBold', sans-serif;
	src: url("@/assets/fonts/SF-Pro-Semibold.woff") format("woff"), url("@/assets/fonts/SF-Pro-Semibold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'SFProBold', sans-serif;
	src: url("@/assets/fonts/SF-Pro-Bold.woff") format("woff"), url("@/assets/fonts/SF-Pro-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}
