$font-family-sf-pro-regular: "SFProRegular", sans-serif;
$font-family-sf-pro-medium: "SFProMedium", sans-serif;
$font-family-sf-pro-semi-bold: "SFProSemiBold", sans-serif;
$font-family-sf-pro-bold: "SFProBold", sans-serif;
$color-text-primary: #062923;
$color-text-secondary: #70837C;
$color-text-tertiary: #93A2A0;
$color-icon-line: #C5CECB;
$color-button: #F4F8F7;
$color-background: #fff;
$color-primary: #35B287;
$color-error: #EF4C64;

